#blocNote
{
    height: 650px;
    width: 478px;
    background-image: url('../images/blocNote.png');
    background-size: 478px 650px;
    position: fixed;
    right: -478px;
    top: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .blocNoteLigneMenu
    {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 75px;
    }

        #iconeRelChequeConsulter
        {
            height: 50px;
            width: 50px;
            background-image: url('../images/GrdIconeRelanceCheque.png');
            background-size: 50px 50px;
            margin-right: 10px;
        }

        #iconePlanConsulter
        {
            height: 50px;
            width: 50px;
            background-image: url('../images/GrdIconePlanTechnique.png');
            background-size: 50px 50px;
            margin-right: 10px;
        }

        #iconeFactureConsulter
        {
            height: 50px;
            width: 50px;
            background-image: url('../images/GrdIconeFacture.png');
            background-size: 50px 50px;
            margin-right: 10px;
        }

        #iconePrestationConsulter
        {
            height: 50px;
            width: 50px;
            background-image: url('../images/GrdIconePrestation.png');
            background-size: 50px 50px;
            margin-right: 10px;
        }

        #ligneMenuIntitule
        {
            width: 250px;
            text-align: center;
        }

        #iconeRelCheqConsulter
        {
            height: 50px;
            width: 50px;
            background-image: url('../images/iconeRelCheqConsulter.png');
            background-size: 50px 50px;
            margin-left: 10px;
        }

        #iconeMetre
        {
            height: 50px;
            width: 50px;
            background-image: url('../images/GrdIconeMetre.png');
            background-size: 50px 50px;
            margin-right: 10px;
        }

        #iconeTacheParticuliere
        {
            height: 50px;
            width: 50px;
            background-image: url('../images/GrdIconeTacheParticuliere.png');
            background-size: 50px 50px;
            margin-right: 10px;
        }