#blocTableau
{
    height: 669px;
    width: 960px;
    background-image: url('../images/blocTableau.png');
    background-size: 960px 669px;
    margin: auto;
}

    #navBlocTableau
    {
        height: 50px;
        display: flex;
    }

    #tableauBlocTableau
    {
        display: flex;
        height: 90%;
    }

        #listeClient
        {
            width: 50%;
            height: 95%;
            position: relative;
        }

            #listeClient li 
            {
                display: flex;
            }