#blocDossier
{
    width: 50px;
    height: 669px;
    margin: auto;
    background-image: url('../images/blocDossier.png');
    background-position: center;
    background-size: 1101px 669px;
    display: flex;
    z-index: 10;
}

/* partie page Gauche */

#pageGauche
{
    height: 660px;
    width: 480px;
    display: flex;
    flex-direction: column;
}
    #pageGaucheTop
    {
        height: 50px;
    }

    #pageGaucheTop
    {
        height: 50px;
        display: flex;
    }

        #pageGaucheTopG
        {
            flex: 1;
        }

        #pageGaucheTopD
        {
            flex:1 ;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 10px;
        }

    #pageGaucheTampon
    {
        height: 75px;
    }

    #pageGaucheAction
    {
        height: 50px;
        display: flex;
    }

    #pageGaucheRemarqueAction
    {
        height: 200px;
    }

    #pageGaucheAvancement
    {
        height: 100px;
        display: flex;
    }

        #pageGaucheAvancementG
        {
            flex: 1;
        }

        #pageGaucheAvancementD
        {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-around ;
        }

    #pageGaucheBottom
    {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: flex-end ;
    }

        button
        {
            height: 35px;
            width: 150px;
            font-size: 1.2em;
        }
/* partie page Droite */

#pageDroite
{
    height: 660px;
    width: 500px;
}

p 
{
    height: 25px;
}

.tamponHaut
{
   height: 25px;
}

.formErrors
{
    height: 25px;
}

/* Onglet1 */

    #coordonneSup
    {
        height: 295px;
        display: flex;
    }

         #labelCoordonneSup
        {
            display: flex;
            flex-direction: column ;
            flex:1;
            padding-left: 20px;
        }

        #champCoordonneSup
        {
            display: flex;
            flex-direction: column ;
            flex:1;
        }

    #coordonneBas
    {
        height: 250px;
        display: flex;
    }

        #coordonneGauche
        {
            height: 100%;
            flex:1;
            display: flex;
            padding: 4px;
        }

            #labelCoordonneBasGauche
            {
                flex: 1;
            }

            #champCoordonneBasGauche
            {
                flex: 1;
            }

        #coordonneDroit
        {
            height: 100%;
            flex:1;
            display: flex;
            padding: 4px;
        }

            #labelCoordonneBasDroit
            {
                flex: 1;
            }

            #champCoordonneBasDroit
            {
                flex: 1;
            }
/* onglet2 */

#onglet2Renovation
{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#onglet2Plan
{
    height: 350px;
    border: 1px double black;
    overflow: auto;
}

#onglet2Critere
{
    height: 75px;
    display: flex;
    align-items: start;
    margin-top: 10px;
    justify-content: space-between;
}

#onglet2Composition
{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    height: 95px;
}

    #onglet2CompositionFinition
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between ;
        align-items: center;
        flex:1;
    }

    #onglet2CompositionPrest
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between ;
        height: 100%;
        flex:1;
    }

    #onglet2Composition fieldset
    {
        display: flex;
        flex:2;
        justify-content: space-around;
    }

    #onglet2CompositionElectroG
    {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between ;
    }

    #onglet2CompositionElectroD
    {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between ;
    }
    }

    #onglet2CompositionElectroG
    {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between ;
    }

    #onglet2CompositionElectroD
    {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between ;
    }

/* onglet 3 */

#onglet3niv1
{
    height: 250px;
    display: flex;

}

    #onglet3niv1G
    {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #onglet3niv1D
    {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

#onglet3niv2
{
    height: 250px;
    display: flex;
}
        
    #onglet3niv2G
    {
        flex: 1;
        display: flex;
    }

        #onglet3niv2GG
        {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;

        }

        #onglet3niv2GD
        {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    #onglet3niv2D
    {
        flex:1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

#onglet3niv3
{
    height: 90px;
    display: flex;
    justify-content: space-around ;
    align-items: center;
}

/* onglet 4 */

#onglet4Cab
{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#onglet4AnnoncePrix fieldset
{
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    #onglet4CompositionPrix
    {
        height: 50px;
    }

    #onglet4PrixAnnonce
    {
        height: 50px;
    }

    #onglet4Benefice
    {
        height: 50px;
    }

#onglet4DramaDate
{
    height: 50px;
    display: flex;
    flex-direction: column;
}

#onglet4Conclusion
{
    height: 50px;
    display: flex;
    flex-direction: column;
}

#onglet4Objection
{
    height: 50px;
    display: flex;
    flex-direction: column;
}

/* onglet 5 */

#onglet5Action
{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#onglet5Remarque
{
    height: 420px;
}

/* partie navigation des onglets du dossier client */

#navigationDossier
{
    height: 600px;
    width: 50px;
    position: absolute ;
    right: 90px;
    top: 80px;
    z-index: 0;
}

.ongletNavigationDossier
{
    width: 40px;
    height: 100px;
    border-radius: 0px 15px 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: center ;
    font-size: 0.7em;
    font-weight: bold;
    justify-content: center;
    box-shadow: 5px 5px 5px grey;
}
    #onglet1
    {
        background-color: rgb(212, 223, 229);
    }

    #onglet2
    {
        background-color: rgb(225, 243, 216);
    }

    #onglet3
    {
        background-color: rgb(254, 207, 215);
    }

    #onglet4
    {
        background-color: rgb(255, 247, 173);
    }

    #onglet5
    {
        background-color: rgb(254, 220, 183);
    }

    #onglet6
    {
        background-color: rgb(227, 226, 225);
    }

    .ongletActif
    {
        color: white;
        box-shadow: 5px 5px 5px white;
    }
