#blocDossier
{
    width: 50px;
    height: 669px;
    margin: auto;
    background-image: url('../images/blocDossier.png');
    background-position: center;
    background-size: 1101px 669px;
    display: flex;
    z-index: 10;
}

/* partie page Gauche */

#pageGauche
{
    height: 660px;
    width: 480px;
    display: flex;
    flex-direction: column;
}

/* partie page Droite */

#pageDroite
{
    height: 660px;
    width: 500px;
}


