body 
{
	background-image: url('../images/fondBody.jpg');
    display: flex;
    margin-top: -10px;
}

#bureau
{
	height: 744px;
    width: 1124px;
    margin-top: -10px;
	background-image: url('../images/fondBureau.jpg');
    background-size: 1124px 744px;
    border-left: 7px solid black;
    border-right: 7px solid black;
    display: flex;
    flex-direction: column;
   
}

#blocNote
{
    height: 650px;
    width: 478px;
    background-image: url('../images/blocNote.png');
    background-size: 478px 650px;
    position: fixed;
    right: -478px;
    top: 8%;
}

#blocDossier
{
    width: 50px;
    height: 669px;
    margin: auto;
    background-image: url('../images/blocDossier.png');
    background-position: center;
    background-size: 1101px 669px;
    display: flex;
    z-index: 10;
}

/* partie page Gauche */

#pageGauche
{
    height: 660px;
    width: 480px;
    display: flex;
}
    
    #blocPageGauche
    {
        margin: auto;
    }
/* partie page Droite */

#pageDroite
{
    height: 660px;
    width: 500px;
}

p 
{
    height: 25px;
}

.tamponHaut
{
   height: 25px;
}

.formErrors
{
    height: 25px;
}

/* Onglet1 */

    #coordonneSup
    {
        height: 295px;
        display: flex;
    }

         #labelCoordonneSup
        {
            display: flex;
            flex-direction: column ;
            flex:1;
            padding-left: 20px;
        }

        #champCoordonneSup
        {
            display: flex;
            flex-direction: column ;
            flex:1;
        }

    #coordonneBas
    {
        height: 250px;
        display: flex;
    }

        #coordonneGauche
        {
            height: 100%;
            flex:1;
            display: flex;
            padding: 4px;
        }

            #labelCoordonneBasGauche
            {
                flex: 1;
            }

            #champCoordonneBasGauche
            {
                flex: 1;
            }

        #coordonneDroit
        {
            height: 100%;
            flex:1;
            display: flex;
            padding: 4px;
        }

            #labelCoordonneBasDroit
            {
                flex: 1;
            }

            #champCoordonneBasDroit
            {
                flex: 1;
            }
/* onglet2 */

#onglet2Renovation
{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#onglet2Plan
{
    height: 370px;
    border: 1px double black;
}

#onglet2Critere
{
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#onglet2Composition
{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between 
}

/* partie navigation des onglets du dossier client */

#navigationDossier
{
    height: 600px;
    width: 50px;
    position: absolute ;
    right: 90px;
    top: 80px;
    z-index: 0;
}

.ongletNavigationDossier
{
    width: 40px;
    height: 100px;
    border-radius: 0px 15px 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: center ;
    font-size: 0.7em;
    font-weight: bold;
    justify-content: center;
    box-shadow: 5px 5px 5px grey;
}
    #onglet1
    {
        background-color: rgb(212, 223, 229);
    }

    #onglet2
    {
        background-color: rgb(225, 243, 216);
    }

    #onglet3
    {
        background-color: rgb(254, 207, 215);
    }

    #onglet4
    {
        background-color: rgb(255, 247, 173);
    }

    #onglet5
    {
        background-color: rgb(254, 220, 183);
    }

    #onglet6
    {
        background-color: rgb(227, 226, 225);
    }

    .ongletActif
    {
        color: white;
        box-shadow: 5px 5px 5px white;
    }

#barreIcone
{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#iconeClientAjouter
{
    height: 50px;
    width: 50px;
    background-image: url('../images/iconeClientAjouter.png');
    background-size: 50px 50px;
    margin-right: 10px;
}

#iconeClientFermer
{
    height: 50px;
    width: 50px;
    background-image: url('../images/iconeClientFermer.png');
    background-size: 50px 50px;
    margin-right: 10px;
}

#iconeTacheAjouter
{
    height: 50px;
    width: 50px;
    background-image: url('../images/iconeTacheAjouter.png');
    background-size: 50px 50px;
    margin-right: 10px;
}

#iconeTacheFermer
{
    height: 50px;
    width: 50px;
    background-image: url('../images/iconeTacheFermer.png');
    background-size: 50px 50px;
    margin-right: 10px;
}

