#blocNote
{
    height: 650px;
    width: 478px;
    background-image: url('../images/blocNote.png');
    background-size: 478px 650px;
    position: fixed;
    right: 10%;
    top: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    #coordClient
    {
        height: 80px;
        display: flex;
        
    }

        #coordClientG
        {
            height: 100%;
            flex: 1;
            display: flex;
            flex-direction: column;
        }

            .row
            {
                display: flex;
                justify-content: space-between;
            }

            .col
            {

            }

        #coordClientD
        {
            height: 100%;
            flex: 1;
        }

    #cheque
    {
        height: 193px;
        width: 400px;
        background-image: url('../images/cheque.jpg');
        background-size: 400px 193px;

    }

        #nomCheque
        {
            position: relative;
            top: 32px;
            left: 50px;
        }

        #montant
        {
            position: relative ;
            top: 45px;
            left: 296px;
        }

        #dateRelance
        {
            position: relative;
            top: 75px;
            left: 220px;
        }

    #validation
    {
        height: 50px;
        display: flex;
      
    }

    #btnValidation
    {
        margin: auto;
    }

a 
{
    color: red;
}

#hautpage
{
    margin-top: 15%;
    height: 100px;
    width: 100px;
    background-image: url('../images/GrdIconeRelanceCheque.png');
    background-size: 100px 100px;
}

#baspage
{
    height: 10%;
    border-top: double;
    width: 86%;
    margin-bottom: 10%;
    display: flex;
}

    #texte
    {
        font-size: 2em;
        font-family: 'messagesregular';
        line-height: 65px;
        flex: 3;
        text-align: center;
    }

    #iconeNavigation
    {
        flex: 1;
        background-image: url('../images/iconeRelanceChequeListe.png');
        background-size: 50px 50px;
        background-position: center;
        background-repeat: no-repeat ;
    }

 #contenant
    {
        width: 84%;
        margin: auto;
        display: flex;
        flex-direction: column;
        overflow: auto;
    }